/*	This CSS file will be used for the following
	- For the home page component
*/

/* This symbol targets all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body changes the style of the entire page */
body{
    min-height: 100vh;
    background: rgb(202, 136, 60);
    background-size: contain;    
}

/*  */
.container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 20px;
  height: 700px;
  width: 800px;
  text-align: center;
}
/* Creates the width and correct size positioning */
.items{
    width: 600px;
    margin-top: 15%;
    margin-left: 13%;
    padding: 0px 0px 0px 0px;
}

/* Edits to HTML items themselves*/

h1{
    font-size: 6em;
    color: rgb(0, 0, 0);
}

p{
    margin-top: 2%;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    color: (170, 184, 248);
}

button{
    width: 120px;
    height: 70px;

    background:#c5850e;
    border: 2px solid black;
    border-radius: 10px;

    font-size: 1em;
    font-weight: bold;
    margin-top: 3%;
    margin-right: 20px;
    margin-left: 20px;
}

/* Button hover feature */
button:hover{
    background: rgba(138, 109, 15, 0.404);
    color: #0000007e;
}