.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
}


.login-form{
  /* These 5 lines center the div in the center of the screen */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgb(226, 158, 50);
  border: 2px solid black;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  /* margin: 0px auto; */
}

h2{
  /* top, right, bottom, left */
  font-size: 50px;
  margin-top: 20px;
  height: 20px;
  color: rgb(0, 0, 0);
}

/* This edits the class that contains both input objects */
.input-wrapper{
  padding: 5px;
  height: 50px;
  margin-top: 75px;
}

/* This modifies the input fields themselves */
input{
  height: 35px;
  width: 200px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgb(214, 178, 111);
}

button{
  text-align: center;
  height: 50px;
  margin-top: 50px;
}

p{
  text-align: center;
  margin-top: 80px;
}